#alias {init} {
       sc;
       prompt set #b[^--*.%)&u**``..<-]#x[&k]#y[[ #x&h#w/#b&H#y | #x&m#w/#b&M#y | #x&v #y| #x&b #y| #x&A #y]]#lw[&FM&FP&FF&FI&FS&FL&FQ&FV&FW&FB&FC&FG&FO#lw]#g.::end::.
       }

#substitute {[LPK]} {} {}
#substitute {[^--*.%)**``..<-]} {} {}
#substitute {[^--*.%)Mount**``..<-]} {[MOUNTED]} {}
#substitute {.::end::.} {\$} {}
