#no mudmux module reps/offensive/melee.tt
@_module{reps/offensive/melee};

@_require{chat};

#action {You try to trip %1, but %2 leaps out of the way.}{
    #if {"$combat_rep_enabled" == "true"}{
        @do_combatrep{bad; <168>$char_name <168>just <119>FAILED<168> to trip <168>%1.};
    };
};

