#no mudmux main.tt
#read src/modules.tt;

#config {repeat enter} on;
#config {color patch} on;
#config charset utf-8;

#split 0 1;

#alias resplit {
    #unsplit;
    #split 0 1;
};

#alias reload {
    #kill all;
    #read src/main.tt;
};

@_load{medievia/main};